# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# Build
main.js
*.js.map
/build/*
build*

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
