body {
    --figure-caption-margin-top: var(--size-4-1);
    --figure-caption-text-align: center;
}

.mx-settings .setting-item.is-disabled .setting-item-name,
.mx-settings .setting-item.is-disabled .setting-item-description {
    color: var(--text-faint);
}

.markdown-rendered button.mx-copy-button {
    /* borrow styles from Obsidian's button.copy-code-button */
    height: auto;
    background-color: transparent;
    box-shadow: none;
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    font-family: var(--font-interface);
    inset-inline-end: 0;
    /* but make some customizations */
    margin: 0;
    padding: 3px 6px;
}
.markdown-rendered button.mx-copy-button:hover {
    background-color: var(--background-modifier-hover);
}
/* adjustments for when button is in an inline code block */
.markdown-rendered .mx-code:has(> button.mx-copy-button) {
    display: inline-flex;
    gap: 2px;
    padding-right: 2px;
}

.mx-image {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    row-gap: var(--figure-caption-margin-top);
}
.mx-image figcaption {
    text-align: var(--figure-caption-text-align);
}
