body {
    --figure-caption-margin-top: var(--size-4-1);
    --figure-caption-text-align: center;
}

.mx-settings .setting-item.is-disabled .setting-item-name,
.mx-settings .setting-item.is-disabled .setting-item-description {
    color: var(--text-faint);
}

.markdown-preview-view .mx-code {
    position: relative;
    padding-right: var(--size-4-8);
}
.markdown-rendered .mx-code button.copy-code-button {
    margin: 0;
    padding: 3px 6px;
}

.mx-image {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    row-gap: var(--figure-caption-margin-top);
}
.mx-image figcaption {
    text-align: var(--figure-caption-text-align);
}
